body {
    background-color: rgba(4, 0, 255, 0.300) ;
}
nav {
    display: flex;
    justify-content: space-between;
    
    padding: 12px;
    align-items: center;
    background-color: rgba(4, 0, 255, 0.300);
}
.nav-container {
    display: flex;
}
.logo-icon{
    border: 1px solid;
    background-image: url(../assets/logo-bve-png.png);
    height: 25px;
    width: 25px;
    background-size: cover;
    background-color: black;
}
.nav-item-left {
    border: 1px solid;
    padding: 8px;
    border-start-start-radius: 20%;
    border-end-start-radius: 20%;
}
.nav-item {
    border: 1px solid;
    padding: 8px;
}
.nav-item-right {
    border: 1px solid;
    padding: 8px;
    border-end-end-radius: 20%;
    border-top-right-radius: 20%
}
.main-title{
    text-align: center;

}
.main-content{
    display: flex;  
}
.main-content-item{
    border: 1px solid;
    height: 250px;
    width: 100%;
    padding: 10px;
}
.main-content-banner{
    height: 150px;
    border: 1px solid;
    width: 80%;
    background-image: url(../assets/logo-BVE2.jpeg);
    background-size: cover;
    background-position: center;
}
.main-item{
    display: flex;
    align-items: center;
}
.item-icon{
    border: 1px solid;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-image: url(../assets/logo-bve-png.png);
    background-size: cover;
}
.item-deskripsi{
    margin: 0;
}
h5{
    margin:0
}
p{
    margin:0
}

label, input {
    height: 25px;
    padding: 5px;
    box-sizing: border-box;
  }
.label-form{
    display: flex;
    flex-flow: column wrap;
    align-content: flex-start;
    height: 75px;
}
label[for='name'] { order: -3; }
label[for='psn-username'] { order: -2; }
label[for='email'] { order: -1; }